In [8]:
import pandas as pd
data=pd.DataFrame({"Name":["apu","rohan","ruponty","josna","ratan","ananna"]})
data

      Name
0      apu
1    rohan
2  ruponty
3    josna
4    ratan
5   ananna

In [10]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data["encoding"]=l.fit_transform(data["Name"])
data

      Name  encoding
0      apu         1
1    rohan         4
2  ruponty         5
3    josna         2
4    ratan         3
5   ananna         0

In [11]:
d=pd.read_csv(r"R:\CSV Files\Loan_Default.csv")
d.head()

      ID  year loan_limit             Gender approv_in_adv  ...        LTV Region Security_Type Status dtir1
0  24890  2019         cf  Sex Not Available         nopre  ...  98.728814  south        direct      1  45.0
1  24891  2019         cf               Male         nopre  ...        NaN  North        direct      1   NaN
2  24892  2019         cf               Male           pre  ...  80.019685  south        direct      0  46.0
3  24893  2019         cf               Male         nopre  ...  69.376900  North        direct      0  42.0
4  24894  2019         cf              Joint           pre  ...  91.886544  North        direct      0  39.0

[5 rows x 34 columns]

In [21]:
d["credit_type"].unique()

array([3, 2, 1, 0], dtype=int64)

In [16]:
l=LabelEncoder()
d["credit_type"]=l.fit_transform(d["credit_type"])#credit_type er encoded value column credit_type te shift kore same name
d

            ID  year loan_limit             Gender approv_in_adv  ...        LTV Region Security_Type Status dtir1
0        24890  2019         cf  Sex Not Available         nopre  ...  98.728814  south        direct      1  45.0
1        24891  2019         cf               Male         nopre  ...        NaN  North        direct      1   NaN
2        24892  2019         cf               Male           pre  ...  80.019685  south        direct      0  46.0
3        24893  2019         cf               Male         nopre  ...  69.376900  North        direct      0  42.0
4        24894  2019         cf              Joint           pre  ...  91.886544  North        direct      0  39.0
...        ...   ...        ...                ...           ...  ...        ...    ...           ...    ...   ...
148665  173555  2019         cf  Sex Not Available         nopre  ...  71.792763  south        direct      0  48.0
148666  173556  2019         cf               Male         nopre  ...  74.428934  south        direct      0  15.0
148667  173557  2019         cf               Male         nopre  ...  61.332418  North        direct      0  49.0
148668  173558  2019         cf             Female         nopre  ...  70.683453  North        direct      0  29.0
148669  173559  2019         cf             Female         nopre  ...  72.849462  North        direct      0  44.0

[148670 rows x 34 columns]