In [2]:
# with scikit
import pandas as pd
data=pd.DataFrame({"Name":["s","xl","m","xl","l","m","s"]})
data

  Name
0    s
1   xl
2    m
3   xl
4    m
5    s

In [3]:
order=[["s","m","l","xl","xxl"]]

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
oe=OrdinalEncoder(categories=order)
oe.fit(data[["Name"]])
data["Ordinal_Encoding with scikit"]=oe.transform(data[["Name"]])
data

  Name  Ordinal_Encoding  Ordinal_Encoding1  Ordinal_Encoding with scikit  Ordinal_Encoding with map
0    s               0.0                  5                           0.0                          5
1   xl               3.0                  0                           3.0                          0
2    m               1.0                  4                           1.0                          4
3   xl               3.0                  0                           3.0                          0
4    m               1.0                  4                           1.0                          4
5    s               0.0                  5                           0.0                          5

In [17]:
# With map
order1={"s":5,"m":4,"l":2,"xl":0}
data["Ordinal_Encoding with map"]=data["Name"].map(order1)
data

  Name  Ordinal_Encoding  Ordinal_Encoding1  Ordinal_Encoding with scikit  Ordinal_Encoding with map
0    s               0.0                  5                           0.0                          5
1   xl               3.0                  0                           3.0                          0
2    m               1.0                  4                           1.0                          4
3   xl               3.0                  0                           3.0                          0
4    m               1.0                  4                           1.0                          4
5    s               0.0                  5                           0.0                          5

In [20]:
d1=pd.read_csv(r"R:\CSV Files\Loan_Default.csv")
d1.head(4)

      ID  year loan_limit             Gender approv_in_adv  ...        LTV Region Security_Type Status dtir1
0  24890  2019         cf  Sex Not Available         nopre  ...  98.728814  south        direct      1  45.0
1  24891  2019         cf               Male         nopre  ...        NaN  North        direct      1   NaN
2  24892  2019         cf               Male           pre  ...  80.019685  south        direct      0  46.0
3  24893  2019         cf               Male         nopre  ...  69.376900  North        direct      0  42.0

[4 rows x 34 columns]

In [21]:
d1["loan_purpose"].unique()

array(['p1', 'p4', 'p3', 'p2', nan], dtype=object)

In [22]:
d1["loan_purpose"].fillna(d["loan_purpose"].mode()[0],inplace=True)

C:\Users\apumo\AppData\Local\Temp\ipykernel_10016\2766919111.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d1["loan_purpose"].fillna(d["loan_purpose"].mode()[0],inplace=True)

In [24]:
from sklearn.preprocessing import OrdinalEncoder
order2=[['p1', 'p4', 'p3', 'p2']]
oe=OrdinalEncoder(categories=order2)
d1["loan_purpose"]=oe.fit_transform(d1[["loan_purpose"]])
d1

            ID  year loan_limit             Gender approv_in_adv  ...        LTV  Region Security_Type Status dtir1
0        24890  2019         cf  Sex Not Available         nopre  ...  98.728814   south        direct      1  45.0
1        24891  2019         cf               Male         nopre  ...        NaN   North        direct      1   NaN
2        24892  2019         cf               Male           pre  ...  80.019685   south        direct      0  46.0
3        24893  2019         cf               Male         nopre  ...  69.376900   North        direct      0  42.0
4        24894  2019         cf              Joint           pre  ...  91.886544   North        direct      0  39.0
...        ...   ...        ...                ...           ...  ...        ...     ...           ...    ...   ...
148665  173555  2019         cf  Sex Not Available         nopre  ...  71.792763   south        direct      0  48.0
148666  173556  2019         cf               Male         nopre  ...  74.428934   south        direct      0  15.0
148667  173557  2019         cf               Male         nopre  ...  61.332418   North        direct      0  49.0
148668  173558  2019         cf             Female         nopre  ...  70.683453   North        direct      0  29.0
148669  173559  2019         cf             Female         nopre  ...  72.849462   North        direct      0  44.0

[148670 rows x 34 columns]